@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl.eot');
    src: url('../fonts/MuseoSansCyrl.eot') format('embedded-opentype'),
         url('../fonts/MuseoSansCyrl.woff2') format('woff2'),
         url('../fonts/MuseoSansCyrl.woff') format('woff'),
         url('../fonts/MuseoSansCyrl.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl.svg#MuseoSansCyrl') format('svg');
}
@font-face {
    font-family: 'geometric';
    src: url('../fonts/geometric.eot');
    src: url('../fonts/geometric.eot') format('embedded-opentype'),
         url('../fonts/geometric.woff2') format('woff2'),
         url('../fonts/geometric.woff') format('woff'),
         url('../fonts/geometric.ttf') format('truetype'),
         url('../fonts/geometric.svg#geometric') format('svg');
}
