header {
    position: relative;
    background: #000 url("../../images/main-photo.jpg")no-repeat;
    background-position: center bottom;
    z-index: 1;
}

header:after {
    content: "";
    position: absolute;
    background: url("../img/ellipse_dots_gr.png")no-repeat;
    width: 8px;
    height: 32px;
    left: 50%;
    margin-left: -4px;
    bottom: 35px;
}

#header:after {
    display: none;
}

#header .top_block {
    top: auto;
}

header h1 {
    color: #fff;
    font-family: 'geometric';
    font-size: 158px;
    line-height: 108px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 250px;
}

header h1 span.db {
    color: #0d0d0d;
}

header h1 span.white {
    position: relative;
    z-index: 1;
}

header .top_block {
    padding: 40px 0px;
    transition: 0.6s;
}

header .top_block .logo {
    width: 180px;
    margin-right: 40px;
    z-index: 21;
}

header .top_block .fright ul {
    font-size: 0px;
}

header .top_block .fright ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
}

header .top_block .fright ul li + li {
    margin-left: 35px;
}

header .top_block .fright ul li a {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    transition: 0.6s;
}

header .top_block .fright ul li a:hover {
    color: #999;
}

header .top_block .fright ul li.active a {
    font-weight: bold;
    font-size: 18px;
}

header .about_me {
    color: #999999;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: normal;
    font-family: 'MuseoSansCyrl';
    position: absolute;
    width: 100%;
    bottom: 90px;
    left: 0px;
}

header .about_me .bold {
    font-weight: bold;
}

#fullpage header {
    background-size: cover;
    background-position: center bottom 100px;
}

#fullpage header h1 {
    margin-top: 0 !important;
}

#fullpage header .top_block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#fullpage header .inner {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 80px;
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*=================== ADAPTIVE HEADER =======================*/
header .right_side_adap {
    display: none;
    position: absolute;
    top: 14px;
    right: -5px;
    z-index: 21;
}

header .right_side_adap .icon {
    width: 44px;
    height: 18px;
    cursor: pointer;
}

header .right_side_adap.menu-open .icon {
    height: 18px;
}

header .right_side_adap.menu-open .icon span {
    background-color: #fff;
}

header .right_side_adap.menu-open .icon span:nth-child(1) {
    top: 27px;
    width: 0%;
}

header .right_side_adap.menu-open .icon span:nth-child(2) {
    border-radius: 0%;
    width: 31px;
    height: 2px;
    transform: rotate(45deg);
    top: 7px;
}

header .right_side_adap.menu-open .icon span:nth-child(3) {
    width: 31px;
    transform: rotate(-45deg);
    top: 7px;
}

header .right_side_adap.menu-open .icon span:nth-child(4) {
    top: 21px;
    width: 0%;
}

header .right_side_adap .icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    border-radius: 0px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

header .right_side_adap .icon span:nth-child(1) {
    top: 0px;
}

header .right_side_adap .icon span:nth-child(2) {
    width: 4px;
    height: 4px;
    left: 10px;
    top: 7px;
    border-radius: 50%;
}

header .right_side_adap .icon span:nth-child(3) {
    width: 22px;
    right: 0;
    top: 8px;
}

header .right_side_adap .icon span:nth-child(4) {
    top: 16px;
}


.mycinema {
    /*padding:257px 0 247px;*/
    background: #fff;
}

.mycinema .left_side {
    padding-right: 130px;
}

.mycinema .right_side {
    padding-top: 95px;
}

.mycinema .right_side h2 {
    font-size: 72px;
    line-height: 80px;
    color: #333333;
    text-transform: uppercase;
}

.mycinema .right_side .txt {
    font-size: 18px;
    line-height: 21px;
    font-family: 'MuseoSansCyrl';
    color: #666666;
    margin-top: 25px;
    padding-left: 5px;
    font-weight: 500;
}

.mycinema .right_side a {
    font-size: 18px;
    line-height: 21px;
    font-family: 'MuseoSansCyrl';
    color: #330033;
    padding-left: 5px;
    font-weight: 500;
    display: block;
    margin-top: 40px;
}

.mycinema .right_side a span.rL:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: 2px;
    background: #330033;
    transition: 0.6s;
}

.mycinema .right_side a:hover span.rL:after {
    opacity: 0;
}


.dance {
    /*padding:730px 0px 120px;*/
    background: #050505;
}

.dance .fp-tableCell {
    vertical-align: bottom;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.dance h2 {
    margin-top: -66px;
    font-size: 72px;
    line-height: 80px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.dance .image {
    margin-top: 70px;
}

.dance .txt {
    font-size: 18px;
    line-height: 21px;
    font-family: 'MuseoSansCyrl';
    color: #999;
    margin-top: 65px;
    padding-left: 5px;
    font-weight: 500;
    text-align: center;
}

.dance a {
    display: block;
    text-align: center;
    color: #669999;
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    font-family: 'MuseoSansCyrl';
    margin-top: 25px;
    font-weight: 500;
}

.dance a span.rL:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: 2px;
    background: #669999;
    transition: 0.6s;
}

.dance a:hover span.rL:after {
    opacity: 0;
}

.sailing {
    /*padding: 113px 0 311px;*/
    background: #123a62;
}

.sailing .fright img {
    max-width: 737px;
}

.sailing .content {
    padding-left: 10px;
    padding-top: 195px;
}

.sailing .content h2 {
    font-size: 72px;
    line-height: 80px;
    color: #fff;
    text-transform: uppercase;
}

.sailing .content .txt {
    font-size: 18px;
    line-height: 21px;
    font-family: 'MuseoSansCyrl';
    color: #999999;
    margin-top: 25px;
    padding-left: 1px;
    font-weight: 500;
}

.sailing a {
    display: block;
    text-align: left;
    color: #0066cc;
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    font-family: 'MuseoSansCyrl';
    margin-top: 20px;
    font-weight: 500;
}

.sailing a span.rL:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: 2px;
    background: #0066cc;
    transition: 0.6s;
}

.sailing a:hover span.rL:after {
    opacity: 0;
}

.specialis {
    background: #222222;
    /*padding:90px 0 130px;*/
}

.specialis h2 {
    color: #444444;
    font-size: 90px;
    line-height: 100px;
    text-align: center;
}

.specialis .inner > div.rL {
    max-width: 950px;
    width: 96%;
    margin: 0 auto;
    margin-top: 45px;
}

.specialis .inner > div.rL .row {
    padding: 38px 0 35px;
    font-size: 24px;
    line-height: 30px;
    font-family: 'MuseoSansCyrl';
    color: #cccccc;
    text-align: center;
}

.specialis .inner > div.rL .row + .row:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: url("../img/row_string.png")no-repeat center center;
    left: 0px;
    top: 0px;
}

.specialis .inner > div.rL .row .bold {
    font-weight: 600;
    color: #fff;
}

.specialis .inner > div.rL .row .abs {
    color: #2a2a2a;
    font-size: 100px;
    line-height: 125px;
    left: 50px;
    top: 50%;
    margin-top: -51px;
    font-family: 'geometric';
    width: 70px;
    text-align: center;
}

.specialis .inner > div.rL .row .plus {
    margin-top: 0px;
    top: -50px;
    font-size: 110px;
    left: 40px;
    width: auto;
}


#header .top_block.pad_block {
    padding-bottom: 90px;
}

/* about_me__page */
.about_me__page #header {
    background: #1b3991;
}

.about_me__page #header .inner {
    width: 80%;
    margin: 0 auto;
}

.about_me__page .welScreen {
    height: 700px;
    background: #1b3991;
    padding-top: 400px;
}

#welText {
    font: 64px 'geometric', sans-serif;
    color: #fff;
}

#welAnim {
    float: left;
    margin: 160px 0 0 750px;
}

.about_me__page .book {
    position: relative;
    z-index: 2;
    background: #1b3991;
    padding-top: 20px;
    padding-bottom: 210px;
}

.about_me__page .book .inner {
    width: 80%;
    background: url('../../images/about_me/quote-icon.png') no-repeat 49% 212px;
    background-color: #000;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
}

.about_me__page .book .image {
    height: 805px;
    width: 25%;
    padding-left: 10%;
    float: left;
}

.about_me__page .book .image img {
    margin-top: 63px;
}

.about_me__page .book .image p {
    color: #4f4f4f;
    width: 277px;
    margin: 0;
    font: 14px 'MuseoSansCyrl', sans-serif;
    text-align: left;
    margin-top: 29px;
}

.about_me__page .book .image p .smM {
    display: none;
}


.about_me__page .book .description {
    padding: 63px 98px 132px 125px;
    box-sizing: border-box;
    color: #fff;
    font: 16px 'MuseoSansCyrl', sans-serif;
    width: 65%;
    float: right;
}

.about_me__page .book .description h1 {
    font: 36px 'geometric', sans-serif;
    margin-bottom: 19px;
}

.about_me__page .book .description h2 {
    font-size: 14px;
    color: #8f8f8f;
    margin-bottom: 175px;
}

.about_me__page .book .description p {
    margin-bottom: 39px;
}

.our_team {
    background-color: #1b3991;
}

.our_team h2 {
    text-align: center;
    font: 130px 'geometric', sans-serif;
    color: #2853d1;
}

/*начало слайдера*/

.all {
    margin-top: 130px;
}
#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    z-index: 50;
}

#slider { /*центровка слайдера*/
	margin: 0 auto;
}

#slides article { /*все изображения справа друг от доруга*/
	width: 100%;
	display: flex;
    justify-content: space-around;
}

#slides .image { /*устанавливает общий размер блока с изображениями*/
	width: 200%;
	line-height: 0;
}

#overflow { /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
    height: 395px;
	overflow: hidden;
}

.first label {
    width: 268px;
    height: 292px;
    margin-top: 20px;
}

#click1:checked+label,
#click2:checked+label,
#click3:checked+label,
#click4:checked+label,
#click5:checked+label,
#click6:checked+label {
    transform: scale(1.1)
}

.image article img:hover {
    transform: scale(1.01);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
    box-shadow: 0 0 50px 0px rgba(0,0,0,0.1);
}

#desktop:checked ~ #slider { /*размер всего слайдера*/
	max-width: 100%; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(1),
#switch2:checked ~ #controls label:nth-child(1) {
	background: url('../../images/about_me/arrow-left.png') no-repeat center; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -3%; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 5%;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(2) {
	background: url('../../images/about_me/arrow-right.png') no-repeat center; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -3% 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 5%;
}

label { /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input { /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image {
	margin-left: 0;
}

#switch2:checked ~ #slides .image {
	margin-left: -100%;
}


#controls { /*положение блока всех управляющих элементов*/
	margin: -22% 0 0 0;
	width: 100%;
	height: 68px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 10px;
	height: 10px;
	background: #fff;
    margin: 5px;
    transition: opacity 0.2s ease-out;
}

#active{ /*расположение блока с переключателями*/
	margin: 15% 0 0 0;
	text-align: center;
    height: 73px
}

#active label:hover{ /*поведение чекбокса при наведении*/
	opacity: 0.6;
	border-color: #898989 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2) {
	background-color: #000;
    transform: scale(1.5);
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}


/*конец слайдера*/

.instruments {
    width: 100%;
    height: 700px;
    padding-top: 200px;
    background: #1b3991;
}

.instruments h2 {
    text-align: center;

    font: 130px 'geometric', sans-serif;
    color: #2853d1;
}

.instruments .flextools {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.instruments .flextools .tools h3 {
    font: 30px 'geometric', sans-serif;
    color: #fff;
    margin: 120px 0 25px;
}

.instruments .flextools .tools ul li {
    list-style-type: none;
    font: 500 24px 'MuseoSans', sans-serif;
    color: #799afb;
}

.licences {
    padding-top: 200px;
    background-color: #1b3991;
    float: left;
    padding-bottom: 280px;
    width: 100%;
}

.licences .contLicen {
    width: 80%;
    margin: 0 auto;
}

.licences h2 {
    text-align: center;
    margin: 0;
     font: 130px 'geometric', sans-serif;
    color: #2853d1;
}

.licences .contLicen .portal {
    padding-top: 120px;
    margin-bottom: 150px;
    float: left;
    width: 100%;
}

.licences .contLicen .portal:nth-child(2),
.licences .contLicen .portal:nth-child(3) {
    padding: 0;
}

.licences .contLicen .portal img {
    margin: 0;

}

#geekSert,
#skillSert,
#skillLogo {
    width: 392px;
    float: left;
    text-align: center;
}

.licences .contLicen .portal .list {
    float: left;
    padding-left: 10%;
    width: 43%;
}

.licences .contLicen .portal .list h3 a {
    display: block;
    margin: 0 0 38px 0;
    font: 22px 'geometric', sans-serif;
    color: #fff;
    width: 100%;
    transition: opacity 0.2s ease-out;
}

.licences .contLicen .portal .list h3 a:hover {
    opacity: 0.6;
}

.licences .contLicen .portal .list p {
    margin: 0 0 29px;
    font: 16px 'MuseoSans', sans-serif;
    color: #799afb;;
    width: 100%;
}

.licences .contLicen .portal .list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font: 14px 'MuseoSans', sans-serif;
    color: #799afb;;
    width: 50%;
}

.licences_adap {
    display: none;
}

.clr_about {
    clear: both;
}

/* portfolio */

.image-animation {
    overflow:hidden;
}

.image-animation img { width: 251px; }

.image-animation img {
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.image-animation img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}


.portfolio_page #header {
    background: #252525;
}

.portfolio {
    background: #252525;
    padding: 50px 0 140px;
}

.portfolio h3 {
    color: #676565;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    font-family: 'MuseoSansCyrl';
}

.portfolio .row {
    margin-top: 75px;
    margin-right: -25px;
}

.portfolio .row .block {
    padding-right: 25px;
    text-align: center;
    margin-bottom: 120px;
    height: 431px;
}

.portfolio .row .block .image {
    height: 326px;
}

.portfolio .row .sailing_bl .image {
    margin-left: -105px;
}

.portfolio .row .cinema_bl .image {
    margin-left: -46px;
}

.portfolio .row .block .title {
    font-size: 36px;
    line-height: 40px;
    margin-top: 25px;
    color: #fff;
    display: block;
    font-family: 'geometric';
    transition: 0.6s;
}

.portfolio .row .block .title:hover {
    color: #999;
}

.portfolio .row .block .des {
    font-size: 16px;
    line-height: 20px;
    color: #666666;
    margin-top: 20px;
    font-family: 'MuseoSansCyrl';
}

.portfolio .comment {
    clear: both;
    text-align: center;
    padding-top: 25px;
    color: #cccccc;
    font-family: 'MuseoSansCyrl';
    font-size: 24px;
    line-height: 27px;
}

/* error_page */
.error_page header {
    background: #020202;
    height: 100vh;
    padding-top: 90px;
    box-sizing: border-box;
}

.error_page header:after {
    display: none;
}

.error_page header h1 {
    font-size: 36px;
    line-height: 40px;
    padding: 90px 0;
    position: relative;
    max-width: 722px;
    margin: 0 auto;
    margin-top: 160px;
    text-transform: none;
    background: url("../../images/error/404.png")no-repeat center center;
    background-size: contain;
}

.error_page header .txt {
    font-size: 22px;
    line-height: 25px;
    color: #666666;
    font-family: 'MuseoSansCyrl';
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 22px;
}

.error_page header a {
    text-align: center;
    font-size: 24px;
    line-height: 27px;
    margin-top: 260px;
    color: #cccccc;
}

.error_page header a span.rL:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0px;
    background-color: #cccccc;
    left: -1px;
    opacity: 1;
    transition: 0.6s;
}

.error_page header a:hover span.rL:before {
    opacity: 0;
}

/* prototype */
.prototype_page header {
    background: #030303;
}

.prototype_page #header .top_block.pad_block {
    padding-bottom: 12px;
}

.prototype_banner {
    position: relative;
    text-align: center;
    background-color: #030303;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

.prototype_banner .inner {
    position: static;
}

.prototype_banner h1 {
    position: relative;
    top: -110px;
    font-size: 115px;
    line-height: 130px;
}

.prototype_banner .txt {
    bottom: 205px;
    position: absolute;
    width: 100%;
    left: 0px;
    font-size: 28px;
    line-height: 32px;
}

.prototype {
    padding: 45px 0 145px;
    background: #dcdada;
    position: relative;
    margin-top: -110px;
    z-index: 1;
}

.prototype:before {
    content: "";
    position: absolute;
    background: #dcdada;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    left: 50%;
    margin-left: -34px;
    top: -34px;
}

.prototype h2 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
}

.prototype .purposes h3 {
    font-size: 28px;
    line-height: 31px;
    margin-top: 100px;
}

.prototype .purposes ul {
    max-width: 784px;
    padding-left: 98px;
    margin-top: 30px;
}

.prototype .purposes ul li span {
    color: #333333;
    font-family: 'MuseoSansCyrl';
    font-size: 24px;
    line-height: 27px;
    padding: 13px 0;
}

.prototype .purposes ul li + li span:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 264px;
    background: #040404;
    height: 1px;
}

.prototype .image {
    margin-top: 70px;
}

.prototype .image > .tb {
    position: relative;
    left: -20px;
}

.prototype .image img {
    width: 100%;
}

.prototype .image .image_1 {
    max-width: 770px;
}

.prototype .image .image_2 {
    max-width: 770px;
    position: absolute;
    width: 100%;
    top: 385px;
    left: 50%;
    margin-left: -14%;
}

.prototype .image .image_3 {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 220px;
}

.prototype h4 {
    margin-top: 220px;
    font-size: 28px;
    line-height: 31px;
}

.prototype .button {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    line-height: 33px;
    color: #333333;
    font-family: 'MuseoSansCyrl';
}

/*photography*/
.photography_page #header .right_side_adap .icon span {
    background-color: #000;
}

.photography_page #header .right_side_adap.menu-open .icon span {
    background-color: #000;
}

.photography_page #header .top_block.pad_block {
    padding-bottom: 12px;
}

.photography_page #header {
    background: transparent;
}

.photography_page #header .top_block .fright ul li a {
    color: #000;
}

.photography_banner {
    background: url("../../images/photography/banner.jpg")no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -110px;
    width: 100%;
}

.photography_banner h1 {
    text-align: center;
    font-size: 135px;
    line-height: 140px;
    -webkit-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

.photography_banner h1 span.db {
    font-size: 88px;
    line-height: 95px;
}

.photography {
    padding: 0 0 155px;
    background: #fff;
    margin-top: -10px;
}

.photography .row {
    margin-right: -30px;
}

.photography .row .block {
    padding-right: 30px;
    margin-bottom: 30px;
    height: 362px;
}


/*sailing*/
.sailing_page #header {
    background: #123a62;
}

.sailing_banner {
    background: #123a62;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -110px;
    width: 100%;
}

.sailing_banner h1 {
    position: absolute;
    top: 50%;
    margin-top: -70px;
    width: 100%;
    text-align: center;
    font-size: 130px;
    line-height: 140px;
    -webkit-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    z-index: 6;
}

.sailing_banner .logo {
    margin-top: 60px;
}

.sailing_banner .logo img {
    margin-left: -240px;
    z-index: 5;
}

.sailing_block {
    margin-top: -110px;
}

.sailing_block .block {
    position: relative;
}

.sailing_block .block_1 {
    padding: 50px 0 33px;
}

.sailing_block .block_1 h2 {
    color: #666666;
    font-size: 36px;
    line-height: 40px;
    text-align: right;
}

.sailing_block .block_1 h2 span {
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    margin-top: 5px;
    font-family: 'MuseoSansCyrl';
}

.sailing_block .block_1 .bg {
    margin-top: 140px;
}

.sailing_block .block_1 .bg img {
    width: 100%;
}

.sailing_block .block_2 {
    background: #000000;
    padding: 46px 0;
}

.sailing_block .block_2:before {
    content: "";
    position: absolute;
    background: url("../../images/sailing/snake.png")repeat-x;
    width: 100%;
    height: 92px;
    top: -46px;
    left: 0px;
}

.sailing_block .block_2:after {
    content: "";
    position: absolute;
    background: url("../../images/sailing/snake.png")repeat-x;
    width: 100%;
    height: 92px;
    bottom: -46px;
    left: 0px;
}

.sailing_block .block_2 .screen1 {
    padding: 160px 0 240px;
}

.sailing_block .block_2 .screen1 .fright {
    width: 460px;
    padding-top: 190px;
}

.sailing_block .block_2 .screen1 .fright:before {
    content: "";
    position: absolute;
    background: url("../../images/sailing/logo_transparent.png")no-repeat;
    background-size: contain;
    width: 1004px;
    height: 891px;
    left: -554px;
    top: 15px;
}

.sailing_block .block_2 .screen1 .fright .title {
    font-size: 30px;
    line-height: 35px;
    color: #ccc;
    z-index: 2;
}

.sailing_block .block_2 .screen1 .fright .title:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: -2px;
    background: #ccc;
}

.sailing_block .block_2 .screen1 .fright .txt {
    font-family: 'MuseoSansCyrl';
    margin-top: 25px;
    font-size: 20px;
    line-height: 23px;
    color: #666666;
    z-index: 2;
}

.sailing_block .block_2 .screen2 {
    padding-bottom: 441px;
}

.sailing_block .block_2 .screen2 h3 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #666;
    font-family: 'MuseoSansCyrl';
}

.sailing_block .block_2 .screen2 .image {
    margin-top: 210px;
}

.sailing_block .block_2 .screen2 .image img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 76px -35px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 76px -35px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 76px -35px rgba(255, 255, 255, 1);
}

.sailing_block .block_3 .advantage {
    position: relative;
}

.sailing_block .block_3 .advantage .part {
    position: relative;
}

.sailing_block .block_3 .advantage .part .num {
    float: left;
    color: #d7e0fb;
    font-size: 290px;
    line-height: 204px;
    text-indent: -17px;
}

.sailing_block .block_3 .advantage .part .txt {
    padding-top: 30px;
}

.sailing_block .block_3 .advantage .part .txt .title {
    font-size: 48px;
    line-height: 52px;
    color: #000;
}

.sailing_block .block_3 .advantage .part .txt .description {
    padding-left: 45px;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-top: 35px;
    font-family: 'MuseoSansCyrl';
}

.sailing_block .block_3 .advantage:nth-child(2n) .part {
    text-align: right;
}

.sailing_block .block_3 .advantage:nth-child(2n) .txt {
    padding-top: 70px;
}

.sailing_block .block_3 .advantage:nth-child(2n) .num {
    float: right;
    width: 200px;
}

.sailing_block .block_3 .advantage1 {
    padding: 150px 0 70px;
}

.sailing_block .block_3 .advantage1 .image {
    margin-top: 40px;
}

.sailing_block .block_3 .advantage2 .image {
    margin: 100px 0 190px;
}

.sailing_block .block_3 .advantage2 .image .txt {
    padding-top: 130px;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    font-family: 'MuseoSansCyrl';
    padding-left: 100px;
    text-align: left;
}

.sailing_block .block_3 .advantage2 .image .txt span {
    font-weight: bold;
    position: relative;
}

.sailing_block .block_3 .advantage2 .image .txt span:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    background: #000;
}

.sailing_block .block_3 .advantage3 {
    background: #222222;
    padding-top: 18px;
}

.sailing_block .block_3 .advantage3 .part .num {
    width: 165px;
    color: #333333;
}

.sailing_block .block_3 .advantage3 .part .txt .title {
    color: #fff;
}

.sailing_block .block_3 .advantage3 .part .txt .description {
    margin-top: 24px;
    padding-left: 0px;
    color: #999999;
}

.sailing_block .block_3 .advantage3 .team {
    margin-top: 80px;
    border: 12px solid #474747;
    padding: 0 84px 17px;
}

.sailing_block .block_3 .advantage3 .team h3 {
    max-width: 350px;
    padding: 0 35px;
    background: #222222;
    font-size: 48px;
    line-height: 52px;
    color: #cccccc;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    margin-top: -55px;
}

.sailing_block .block_3 .advantage3 .team .row {
    margin-top: 10px;
}

.sailing_block .block_3 .advantage3 .team .row .t_block:nth-child(1) {
    width: 38%;
}

.sailing_block .block_3 .advantage3 .team .row .t_block:nth-child(2) {
    width: 34%;
}

.sailing_block .block_3 .advantage3 .team .row .t_block:nth-child(3) {
    width: 28%;
}

.sailing_block .block_3 .advantage3 .team .row .t_block:nth-child(4) {
    width: 59%;
}

.sailing_block .block_3 .advantage3 .team .row .t_block:nth-child(5) {
    width: 41%;
}

.sailing_block .block_3 .advantage4 {
    padding: 75px 0 147px;
}

.sailing_block .block_3 .advantage4 .foto_animation {
    margin-top: 185px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 {
    padding: 0 165px 0 70px;
    margin-right: -13%;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 .image {
    width: 37%;
    margin-right: 13%;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 .image > div.rL {
    width: 100%;
    height: 100%;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 .image > div.rL img {
    width: 100%;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 .image > div.rL .abs {
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 10px 15px;
    opacity: 0;
    transition: 0.6s;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 .image:hover > div.rL .abs {
    opacity: 1;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 .image > div.rL .abs .title {
    font-size: 28px;
    line-height: 32px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 .image > div.rL .abs .expert {
    font-size: 18px;
    line-height: 21px;
    font-family: 'MuseoSansCyrl';
    color: #ccc;
    margin-top: 10px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 .image > div.rL .abs .des_txt {
    font-size: 18px;
    line-height: 23px;
    font-family: 'MuseoSansCyrl';
    margin-top: 50px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage1 .image2 > div.rL:after {
    content: "";
    position: absolute;
    background: url("../../images/sailing/dotted_arrow.png")no-repeat;
    width: 161px;
    height: 454px;
    right: -106px;
    bottom: -420px;
    background-size: contain;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 {
    margin-top: 280px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 h2 {
    font-size: 50px;
    line-height: 54px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more {
    margin: 0 auto;
    background-color: #000;
    margin-top: 75px;
    padding: 57px 98px 75px;
    max-width: 753px;
    box-sizing: border-box;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more .left_side {
    width: 166px;
    padding-right: 10px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more .left_side .image img {
    max-width: 166px;
    max-height: 166px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more .left_side .social {
    margin-top: 40px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more .left_side .social a {
    font-size: 14px;
    line-height: 17px;
    font-family: 'MuseoSansCyrl';
    color: #fff;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more .left_side .social a + a {
    margin-top: 10px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more .content {
    padding-top: 40px;
    color: #fff;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more .content .title {
    font-size: 28px;
    line-height: 32px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more .content .expert {
    font-size: 18px;
    line-height: 21px;
    color: #ccc;
    font-family: 'MuseoSansCyrl';
    margin-top: 10px;
}

.sailing_block .block_3 .advantage4 .foto_animation .stage2 .more .content .des_txt {
    margin-top: 55px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'MuseoSansCyrl';
}

.sailing_block .block_3 .advantage5 {
    background: #000000;
    padding: 150px 0 205px;
}

.sailing_block .block_3 .advantage5 .part .num {
    color: #2a2a35;
    width: 220px;
}

.sailing_block .block_3 .advantage.advantage5 .part .title {
    color: #fff;
}

.sailing_block .block_3 .advantage.advantage5 .part .description {
    padding-left: 0px;
    color: #666666;
}

.sailing_block .block_3 .advantage.advantage5 .part .description span {
    color: #999999;
}

.sailing_block .block_3 .advantage.advantage5:before {
    content: "";
    position: absolute;
    background: url("../../images/sailing/snake.png")repeat-x;
    width: 100%;
    height: 92px;
    left: 0px;
    top: -46px;
}

.sailing_block .block_3 .advantage.advantage5:after {
    content: "";
    position: absolute;
    background: url("../../images/sailing/big_black_arrow.png")no-repeat;
    background-size: contain;
    width: 100%;
    height: 90px;
    left: 0px;
    bottom: -90px;
    z-index: 9;
}

.sailing_block .block_3 .advantage.advantage5 form {
    max-width: 490px;
    margin: 0 auto;
    margin-top: 255px;
}

.sailing_block .block_3 .advantage.advantage5 form button {
    font-family: 'geometric';
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: none;
    margin: 0 auto;
    transition: 0.6s;
}

.sailing_block .block_3 .advantage.advantage5 form button:hover {
    color: #3366cc;
}

.sailing_block .block_3 .advantage.advantage5 form button span.rL:after {
    content: "";
    position: absolute;
    right: -60px;
    top: 50%;
    margin-top: -2px;
    background: url("../img/ellipse_dots.png")no-repeat;
    width: 41px;
    height: 10px;
}

.sailing_block .block_3 .advantage.advantage5 form .input_block {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 85px;
}

.sailing_block .block_3 .advantage.advantage5 form .input_block .inputbox {
    box-shadow: none;
    border: 0px;
    background: transparent;
    border-bottom: 1px solid #2952cc;
    border-bottom-color: rgb(41, 82, 204);
    padding: 3px 50px 4px 50px;
    font-size: 24px;
    line-height: 30px;
    color: #8f8f8f;
}

.sailing_block .block_3 .advantage.advantage5 form .input_block:after {
    content: "\f003";
    position: absolute;
    right: 9px;
    color: #3366cc;
    font-family: 'FontAwesome';
    font-size: 31px;
    top: 50%;
    margin-top: -13px;
}

.sailing_block .block_4 .main_styles {
    background: #fff;
    padding: 200px 0 140px;
    position: relative;
}

.sailing_block .block_4 .main_styles:after {
    content: "";
    position: absolute;
    background: url("../../images/sailing/big_white_arrow.png")no-repeat;
    background-size: contain;
    width: 100%;
    height: 90px;
    bottom: -90px;
    left: 0px;
    z-index: 5;
}

.sailing_block .block_4 .main_styles h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    max-width: 950px;
    margin: 0 auto;
    font-family: 'MuseoSansCyrl';
}

.sailing_block .block_4 .main_styles .colors {
    max-width: 950px;
    margin: 0 auto;
    margin-top: 26px;
}

.sailing_block .block_4 .main_styles .colors .row {
    margin-top: 25px;
}

.sailing_block .block_4 .main_styles .colors .row .string {
    height: 20px;
}

.sailing_block .block_4 .main_styles .colors .row.black .string {
    background: linear-gradient(to right, #666666, #000000);
}

.sailing_block .block_4 .main_styles .colors .row.grey .string {
    background: linear-gradient(to right, #cccccc, #999999);
}

.sailing_block .block_4 .main_styles .colors .row.blue .string {
    background: linear-gradient(to right, #6699ff, #3366cc);
}

.sailing_block .block_4 .main_styles .colors .row .txt {
    font-family: 'MuseoSansCyrl';
    text-align: right;
    font-size: 18px;
    line-height: 21px;
    margin-top: 5px;
}

.sailing_block .block_4 .main_styles .colors .row.black .txt {
    color: #000000;
}

.sailing_block .block_4 .main_styles .colors .row.grey .txt {
    color: #333333;
}

.sailing_block .block_4 .main_styles .colors .row.blue .txt {
    color: #003399;
}

.sailing_block .block_4 .main_styles .printing {
    margin-top: 115px;
}

.sailing_block .block_4 .main_styles .printing .table {
    margin-top: 65px;
}

.sailing_block .block_4 .main_styles .printing .table .row {
    border-top: 1px solid #b8b6b6;
    border-bottom: 1px solid #b8b6b6;
    font-family: 'MuseoSansCyrl';
}

.sailing_block .block_4 .main_styles .printing .table .row .tb {
    max-width: 1000px;
    margin: 0 auto;
}

.sailing_block .block_4 .main_styles .printing .table .row .tb .tbc {
    width: 50%;
    text-align: center;
    font-family: 'MuseoSansCyrl';
    font-size: 18px;
    line-height: 24px;
    padding: 10px;
    font-family: 'MuseoSansCyrl';
    color: #666666;
}

.sailing_block .block_4 .main_styles .printing .table .row:nth-child(1) {
    border-bottom: 0px;
}

.sailing_block .block_4 .main_styles .printing .table .row:nth-child(1) .tbc {
    font-size: 60px;
    line-height: 60px;
    padding: 5px 0;
    color: #000;
}

.sailing_block .block_4 .main_styles .printing .table .row:nth-child(1) .geometric {
    font-family: 'geometric';
}

.sailing_block .block_5 .reply {
    padding: 130px 0 36px;
    background: #2952cc;
}

.sailing_block .block_5 .reply h2 {
    color: #fff;
    text-align: center;
    font-size: 72px;
    line-height: 80px;
    font-family: 'MuseoSansCyrl';
}

.sailing_block .block_5 .reply h2 span {
    display: block;
    text-transform: uppercase;
    font-family: 'geometric';
}

.sailing_block .block_5 .reply .image {
    margin-top: 155px;
    padding-bottom: 230px;
}

.sailing_block .block_5 .reply .image:after {
    content: "";
    position: absolute;
    background: url("../../images/sailing/reply_tel.png")no-repeat;
    width: 734px;
    height: 500px;
    bottom: 0px;
    right: -190px;
    background-size: contain;
}

.sailing_block .block_5 .reply .image img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
}

.sailing_block .block_5 .reply .thanks {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    font-family: 'MuseoSansCyrl';
}

/*footer*/
#footer {
    padding-top: 210px;
    clear: both;
}

footer {
    background: #050505;
    box-sizing: border-box;
}

footer .rL .regP {
    font-family: 'geometric';
    display: block;
    width: 350px;
    font-size: 36px;
    color: #fff;
    margin: 0 auto;
    transition: 0.6s;
    background: url("../img/ellipse_dots.png") no-repeat right;
}

footer .rL .regP:hover {
    color: #3366cc;
}

footer .inner > div.rL {
    margin-top: 166px;
}

footer .inner > div.rL .form {
    padding-left: 68px;
    width: 440px;
}

footer .inner > div.rL .form .input_block {
    width: 226px;
    margin-right: 12px;
}

footer .inner > div.rL .form .input_block .inputbox {
    border: 0px;
    background: transparent;
    border-bottom: 1px solid #2952cc;
    padding: 3px 10px 4px 11px;
    font-size: 16px;
    line-height: 20px;
    color: #8f8f8f;
}

footer .inner > div.rL .form .input_block .inputbox:focus {
    box-shadow: none;
    border-color: #99ccff;
}

footer .inner > div.rL .form .input_block:after {
    content: "\f003";
    position: absolute;
    right: 9px;
    color: #3366cc;
    font-family: 'FontAwesome';
    font-size: 18px;
    top: 50%;
    margin-top: -11px;
}

footer .inner > div.rL .form label {
    padding-top: 5px;
    cursor: pointer;
}

footer .inner > div.rL .form label input {
    display: none;
}

footer .inner > div.rL .form label span {
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: #454444;
    padding-left: 16px;
    font-weight: 500;
    font-family: 'MuseoSansCyrl';
}

footer .inner > div.rL .form label span mark {
    background-color: inherit;
    font-family: 'MuseoSansCyrl';
    color: #7b7b7b;
    text-decoration: underline;
}

footer .inner > div.rL .form label span mark:hover {
    color: #999999;
}

footer .inner > div.rL .form label b {
    box-sizing: border-box;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #3366cc;
    left: 0px;
    top: 7px;
    position: absolute;
}

footer .inner > div.rL .form label input[type="checkbox"]:checked + b:before {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 9px;
    line-height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #3366cc;
    margin-top: -3px;
    margin-left: -4px;
    font-weight: normal;
}

footer .inner > div.rL .links {
    width: 392px;
}

footer .inner > div.rL .links a {
    color: #666666;
    font-size: 18px;
    line-height: 28px;
}

footer .inner > div.rL .links a span.rL:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: transparent;
    transition: 0.6s;
}

footer .inner > div.rL .links a:hover span.rL:after {
    background: #666666;
}

footer .inner .social__menu {
    margin-top: 40px;
}

footer .inner .social__menu .menu ul {
    font-size: 0px;
}

footer .inner .social__menu .menu ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
}

footer .inner .social__menu .menu ul li + li {
    margin-left: 35px;
}

footer .inner .social__menu .menu ul li a {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}

footer .inner .social__menu .menu ul li:first-child a {
    font-size: 18px;
    font-weight: bold;
}

footer .inner .social__menu .social > div {
    font-size: 0px;
}

footer .inner .social__menu .social .fa {
    font-size: 35px;
    color: #999999;
    transition: 0.6s;
}

footer .inner .social__menu .social .fa + .fa {
    margin-left: 30px;
}

footer .inner .social__menu .social .fa:hover {
    color: #3366cc;
}

footer .inner .copyright {
    font-size: 12px;
    line-height: 16px;
    padding: 30px 0px 24px;
    margin-top: 17px;
    color: #999999;
    text-align: center;
    font-family: 'MuseoSansCyrl', sans-serif;
}
