body {
	background-color: #252525;
	font-size: 18px;
	margin: 0;
}
.wraper {
	max-width: 1009px;
	background-color: white;
	margin: auto;
	padding-left: 68px;
	padding-right: 68px;
	padding-bottom: 68px;
}
h1 {
    font-family: 'geometric';
	font-size: 36px;
	padding-top: 70px;
}

main ol {
/* убираем стандартную нумерацию */
list-style: none; 
/* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */ 
counter-reset: li; 
margin-left: 0;
padding-left: 0;
}
.list li:before {
/* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
counter-increment: li; 
/* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
content: counters(li,".") ". "; 
}
ul {
	list-style: none;
	counter-reset: none;
}
.header {
	max-width: 1145px;
	margin: auto;
	display: flex;
}
.logo-img {
	width: 180px;
	height: 18px;
	margin-top: 20px;
}
.nav {
	margin-left: auto;
}
.main-menu {
	list-style: none;
	font-family: 'MuseoSansCyrl';
}
.main-menu li{
	display: inline-block;
	margin-left: 45px;
}
.main-menu a {
	text-decoration: none;
	color: white;
	transition: 0.6s;
}
.main-list {
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 30px;
}
.normal {
	font-weight: normal;
	margin-top: 30px;
}
.down {
	display: flex;
	margin-top: 120px;
}
.left {
	font-style: italic;
	margin-right: auto;
}
.right {
    margin-right:115px;
}
.main-list {
    font-family: 'geometric';
    font-size: 24px;
    font-weight: 300;
}
.normal {
    font-family: 'MuseoSansCyrl';
    font-size: 16px;
    line-height: 18px;
}

.p-text {
     font-family: 'MuseoSansCyrl';
    font-size: 16px;
    line-height: 18px;
}